[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dcmodify"]
	path = dcmodify
	url = https://github.com/data-cleaning/dcmodify
	shallow = true
	subdir = pkg
[submodule "deducorrect"]
	path = deducorrect
	url = https://github.com/data-cleaning/deducorrect
	shallow = true
	subdir = pkg
[submodule "deductive"]
	path = deductive
	url = https://github.com/data-cleaning/deductive
	shallow = true
	subdir = pkg
[submodule "editrules"]
	path = editrules
	url = https://github.com/data-cleaning/editrules
	shallow = true
	subdir = pkg
[submodule "errorlocate"]
	path = errorlocate
	url = https://github.com/data-cleaning/errorlocate
	shallow = true
[submodule "lintools"]
	path = lintools
	url = https://github.com/data-cleaning/lintools
	shallow = true
	subdir = pkg
[submodule "validate"]
	path = validate
	url = https://github.com/data-cleaning/validate
	shallow = true
	subdir = pkg
[submodule "validatedb"]
	path = validatedb
	url = https://github.com/data-cleaning/validatedb
	shallow = true
[submodule "validatetools"]
	path = validatetools
	url = https://github.com/data-cleaning/validatetools
	shallow = true
