[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dcmodifydb"]
	path = dcmodifydb
	url = https://github.com/data-cleaning/dcmodifydb
	shallow = true
	registered = true
[submodule "errorlocate"]
	path = errorlocate
	url = https://github.com/data-cleaning/errorlocate
	shallow = true
	registered = true
[submodule "validatedb"]
	path = validatedb
	url = https://github.com/data-cleaning/validatedb
	shallow = true
	registered = true
[submodule "validatetools"]
	path = validatetools
	url = https://github.com/data-cleaning/validatetools
	shallow = true
	registered = true
